* {
  outline: none;
  border-radius: 100px;
  user-select: none;
  transition: 0.5s;
}

body {
  background-color: #D2EFE7;
  font-family: 'Nunito', sans-serif;
  margin: 0px;
  padding: 0px;
}

input::selection {
  background-color: #4FD6A0;
  color: white;
}

.number-output::selection {
  background: none;
  color: #333939;
}

header * {
  border-radius: 0px;
}

header {
  background-color: #544E74;
  height: 100px;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 12px solid #38A77C;
  display: flex;
  align-items: center;
  border-radius: 0px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  justify-content: center;
}

.logo {
  padding-right: 10px;
  font-size: 70px;
  color: #E0FFF1;
  text-align: center;
  cursor: pointer;
}

.calc-head {
  margin: 0px 0px;
  color: #E0FFF1;
  font-size: 40px;
  text-align: center;
  cursor: pointer;
}

.calc-head a {
  color: #E0FFF1;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  text-align: center;
}

main {
  color: #333939;
  margin: 80px auto;
  max-width: 600px;
  width: 95%;
  display: grid;
  grid-auto-columns: 1fr;
  border-radius: 0px;
  grid-template-rows: minmax(auto, auto) minmax(52px, 52px) minmax(30px, auto) minmax(18px, 18px) minmax(auto, auto) minmax(52px, 52px);
  grid-gap: 10px;
}

.first-main-row, .fifth-main-row {
  font-size: 40px;
  border-radius: 0px;
}

.second-main-row {
  display: grid;
  grid-template-columns: 10fr 1fr;
  border-radius: 0px;
}

button {
  border: none;
  outline: none;
}

.erase, .copy {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: none;
  font-size: 24px;
  color: #333939;
  background-color: #BBD5CD; 
}

.fa-times-circle:active, .fa-copy:active {
  transform: translateY(2px);
  transition: 0.1s;
}

.fa-times-circle:hover, .fa-copy:hover {
  color: #464F4F;
  cursor: pointer
}

.number-input, .number-output {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 10px;
  font-size: 20px;
}

input {
  padding-left: 5px;
  font-family: 'Nunito', sans-serif;
  color: #333939;
  background-color: #BBD5CD;
  border: none;
  border-left: 5px transparent solid;
  text-transform: uppercase;
}

input:focus {
  border-left: 5px #3DA57D solid;
}

::placeholder {
  color: #5E6868;
  text-transform: none;
}

.third-main-row {
  font-size: 20px;
  border-radius: 0px;
}

.warning {
  font-size: 10px;
  color: #5E6868;
}

#radix {
  width: 40px;
  height: 20px;
  padding-left: 5px;
  font-size: 20px;
}

.fourth-main-row {
  border-radius: 0px;
}

hr {
  right: 46px;
  border: none;
  background-color:#38A77C;
  height: 2px;
  border-radius: 50px;
}

.sixth-main-row {
  display: grid;
  grid-template-columns: 10fr 1fr;
  border-radius: 0px;
}

.number-output:focus{
  border-left: 5px transparent solid;
  }

.number-output:hover{
  cursor: default;
  }

.count {
  color: #FFFF;
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
  background-color: #38A77C;
  border-bottom: 2px solid #297A5A;
  transition: 0.1s;
  cursor: pointer;
}

.count:hover {
  background-color: #44BF90;
  border-bottom: 2px solid #38A77C;
}

.count:active {
  transform: translateY(2px);
  border: none;
  transition: 0.1s;
}

.count-plus-output {
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-column-gap: 5px;
}

.seventh-main-row {
  font-size: 15px;
  color: #42A37E;
  opacity: 0;
}

footer {
  font-size: 20px;
  text-align: center;
  transition: 0s;
}

.link {
  text-decoration: none;
  color: #464F4F;
  transition: 0s;
}

.link:hover {
  transition: 0s;
  color: #38A77C;
  text-decoration: underline;
}


.message {
  color: #9D4F5C;
  font-size: 15px;
  display: none;
}